* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: medium;
}


body { background-color: rgb(2, 0, 41); }

body {
    color: rgb(231, 209, 176);
}






